.background {
	position: relative;
	min-height: 60vh;
	padding-bottom: 1.5rem;
}

.title {
	text-decoration: underline;
    font-size: 1.3vw;
	font-family: 'Space Mono', monospace;
	color: rgb(56, 56, 141);
	text-indent: 50px;
}
.title_project {
    font-size: 1.2vw;
    text-align: center;
}
.grid_background {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	gap: 10px;
	justify-content: center;
}
.peep {
	grid-column: 1;
	box-sizing: border-box;
	border: 5px solid darkgrey;
	border-radius: 10px;
	width: 100%;
	max-width: 250px;
	height: auto;
	object-fit: cover;
	z-index: -1;
}

.watson {
	grid-column: 2;
	box-sizing: border-box;
	border: 5px solid darkgrey;
	border-radius: 10px;
	width: 100%;
	max-width: 250px;
	height: auto;
	object-fit: cover;
	z-index: -1;
}

.holiday {
	grid-column: 3;
	box-sizing: border-box;
	border: 5px solid darkgrey;
	border-radius: 10px;
	width: 100%;
	max-width: 250px;
	height: auto;
	transform: scale(1);
	object-fit: cover;
	z-index: -1;
}
.trivia {
	grid-column: 4;
	box-sizing: border-box;
	border: 5px solid darkgrey;
	border-radius: 10px;
	width: 100%;
	max-width: 250px;
	height: auto;
	object-fit: cover;
	z-index: -1;
}

img {
	transition: 0.5s;
}
img:hover {
	transform: scale(1.1);
}
@media (max-width: 800px) {
	img {
		min-width: 150px;
	}
}
