.section {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto); 
    gap: 10px;
}
.hello {
    grid-column: 1;
    grid-row: 1/4;
    box-sizing: border-box;
    border: 10px solid rgb(175, 173, 173);
    border-radius: 20px;
    text-align: center;
    font-size: 2vh;
    font-family: 'Pacifico', cursive;
   
}
.photo > img {
    grid-column: 2/span 2;
    grid-row: 2;
    box-sizing: border-box;
    border: 10px solid rgb(175, 173, 173);
    border-radius: 20px;
    object-fit: cover;
    z-index: -1;
    transform: scale(1);
    height: auto;
    width: 450px;
    
}
.meet {
    grid-column: 2 /span 3;
    grid-row: 1;
    box-sizing: border-box;
    border: 10px solid rgb(175, 173, 173);
    border-radius: 20px;
    font-family: 'Pacifico', cursive;
    font-size: 1.5vw;
    letter-spacing: 30px;
    text-align: center;
    padding-top: 0;
    height: 120px;

}
.socialinks {
    grid-column: 3 /span 2;
    grid-row: 2;
    box-sizing: border-box;
    border: 10px solid rgb(175, 173, 173);
    border-radius: 20px;
    font-size: 1.2vw;
}
.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 4vw;
    margin: 25%;
    transition: 0.5s;
}
.github:hover {
    transform: scale(1.5);
}
.linkedin:hover {
    transform: scale(1.5);
}
.fa-github {
    color: black;

}
.fa-linkedin {
    color: blue;
}
.developer {
    grid-column: 2 /span 3;
    grid-row: 3;
    box-sizing: border-box;
    border: 10px solid rgb(175, 173, 173);
    border-radius: 20px;
    font-family: 'Pacifico', cursive;
    font-size: 1.5vw;
    letter-spacing: 20px;
    text-align: center;
    height: 120px;
}
img {
    transition: 0.3s;
}
img:hover {
    transform: scale(1.2);

}
@media screen and (max-width: 600px) {
    .links {
        font-size: 2vw;
        margin: 0%;
    }
    
}