 
.title {
    text-decoration: underline;
    font-family: "Space Mono", monospace;
    color: rgb(56, 56, 141);
    text-indent: 60px;
}
.background {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 10px;
    font-size: x-large;

    
}
.language {
    grid-column: 1;
    grid-row: 1;
    box-sizing: border-box;
    border: 10px solid rgb(194, 182, 167);
    border-radius: 20px;
}
.database {
    grid-column: 2;
    grid-row: 1;
    box-sizing: border-box;
    border: 10px solid rgb(178, 184, 168);
    border-radius: 20px;
}
.framework {
    grid-column: 1;
    grid-row: 2;
    box-sizing: border-box;
    border: 10px solid rgb(171, 167, 175);
    border-radius: 20px;
}
.network {
    grid-column: 2;
    grid-row: 2;
    box-sizing: border-box;
    border: 10px solid rgb(179, 160, 165);
    border-radius: 20px;
}
ul {
    list-style: none;
}