a:-webkit-any-link {
    text-decoration: none;
}
.aboutmelink:before {
    content: "<"
}
.aboutmelink:after {
    content: "/>"
}
.skillslink:before {
    content: "<"
}
.skillslink:after {
    content: "/>"
}
.projectslink:before {
    content: "<"
}
.projectslink:after {
    content: "/>"
}
.resumelink:before {
    content: "<"
}
.resumelink:after {
    content: "/>"
}
.contactmelink:before {
    content: "<"
}
.contactmelink:after {
    content: "/>"
}
.aboutmelink:before {
    content: "<"
}
.skillslink:after {
    content: "/>"
}
.navigation {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    justify-content: space-evenly;
    justify-items: center;
    font-family: Muli, sans-serif;
    font-size: 1em;
    font-weight: bolder;
    background-color: #8ac9f3;
    box-sizing: border-box;
    border: 3px solid gray;
    border-top-style: unset;
    height: 105px;
    
}
.aboutmelink {
    grid-column: 1;
    grid-row: 1;
}
.skillslink {
    grid-column: 2;
    grid-row: 2;
}
.projectslink {
    grid-column: 3;
    grid-row: 3;
}
.resumelink {
    grid-column: 4;
    grid-row: 4;
}
.contactmelink {
    grid-column: 5;
    grid-row: 5;
}