img {
    display: block;
    margin-left: auto;
    margin-right: auto;   
}
.background {
    background-image: url(../../Assets/Benin-2.jpg);
    margin-top: -20px;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    height: 90vh;
    width: 100%;
    z-index: -1;
}
.title {
    text-decoration: underline;
    font-family: "Space Mono", monospace;
    color: rgb(56, 56, 141);
    text-indent: 60px;

}
.title .paragraph {
    font-family: Muli, sans-serif;
}
.paragraph {
    text-indent: 40px;
    letter-spacing: 2px;
    line-height: 2;
    padding:0 20px 0 20px;
}
 
 nav {
     position: fixed;
     bottom: 0;
     right: 0;
     padding-right: 20px;
     font-family: "Space Mono", monospace;
     font-weight: 900;
 }
 
 
