img {
    display: block;
    margin-left: auto;
    margin-right: auto;   
}
.title {
    text-decoration: underline;
    font-family: "Space Mono", monospace;
    color: rgb(56, 56, 141);
    text-indent: 60px;

}
.title .paragraph {
    font-family: Muli, sans-serif;
}
.paragraph {
    text-indent: 40px;
    letter-spacing: 2px;
    line-height: 2;
    padding:0 20px 0 20px;
}
 
 .quote {
     position: fixed;
     bottom: 0;
     right: 0;
     font-family: "Space Mono", monospace;
     font-weight: 900;
 }
 p::first-letter {
     text-transform: capitalize;
     font-size: 30px;
 }
 
 
